Implementations/Xml/Complaints.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn://www.fsc.org.au/DDO/Complaints/1.0"
           elementFormDefault="qualified"
           xmlns="urn://www.fsc.org.au/DDO/Complaints/1.0"
           xmlns:mstns="urn://www.fsc.org.au/DDO/Complaints/1.0"
           xmlns:ddoc="urn://www.fsc.org.au/DDO/Common/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo xmlns:dcterms="http://purl.org/dc/terms/">
      <dcterms:title>DDO Data Standards' Complaints' Elements</dcterms:title>
      <dcterms:licence>
        The intellectual property rights in this document, including the copyright in the document, are owned by and retained by the FSC and its licensors.
        The FSC grants you a non-exclusive non-transferable licence for you and the organisation you represent (the User) to use this document internally within the User's business, including making copies, reproductions, and modifications of the document, and otherwise as expressly set out in the conditions below for so long as the User licenses this data standard.

        You and the User acknowledge and agree that the information contained in this document has been collated and prepared by the FSC for the sole purpose of assisting Users to manage their compliance with Part 7.8A of the Corporations Act 2001.
        The information contained in this document is based on current sources and practice as at 2021.
        The information contained in this document may need to be updated and revised as new sources of information emerge or practices change over time.

        Users should use their own judgment when making use of this material and should carefully evaluate its currency, completeness and relevance for their own purposes as well as the extent to which this material can or should be modified to suit the User's products.

        While steps have been taken to ensure the accuracy of the information contained in this document, the FSC does not guarantee, and accepts no legal liability whatsoever or howsoever arising from or connected to, the accuracy, currency, completeness of any material contained in this document (including any liability that may flow directly or indirectly from the modification of the information contained in this document) and makes no warranties as to suitability for you or non-infringement or for compliance with the data requirements under Part 7.8A of the Act.
      </dcterms:licence>
      <dcterms:rightsholder>Financial Services Council Limited ABN 82 080 744 163</dcterms:rightsholder>
      <dcterms:copyright>
        © 2021 Financial Services Council Limited ABN 82 080 744 163
      </dcterms:copyright>
      <dcterms:contributor>Stephen Cox</dcterms:contributor>
    </xs:appinfo>
  </xs:annotation>

  <!-- include the Common elements -->
  <xs:import namespace="urn://www.fsc.org.au/DDO/Common/1.0"
             schemaLocation="Common.xsd"/>

  <xs:element name="ComplaintsReport"
              type="ComplaintsReportType">
    <xs:annotation>
      <xs:documentation>This element defines the root element of the report</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Complex Types-->
  <xs:complexType name="ComplaintsReportType">
    <xs:annotation>
      <xs:documentation>This type defines the report body structure</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Header"
                  type="mstns:ComplaintsReportHeaderType"></xs:element>
      <xs:element name="Body"
                  type="mstns:ComplaintsReportBodyType"></xs:element>
      <xs:element name="Footer"
                  type="mstns:ComplaintsReportFooterType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ComplaintsReportHeaderType">
    <xs:annotation>
      <xs:documentation>This type provides the header data for a Complaints report</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReportIdentifier"
                  type="xs:string"
                  nillable="false">
        <xs:annotation>
          <xs:documentation>Report ID – unique to distributor. Can be combined with distributor ID to have industry-wide unique ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportExtractionDateTime"
                  type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            Date that transaction report was made.
            If report is reissued, the new information replaces any reports within the defined report start and end period.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportSelectionRange"
                  type="ddoc:ReportSelectionRangeType"
                  nillable="false"
                  maxOccurs="1"
                  minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Defines the range the complaints report covers
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <!-- Attributes -->
    <xs:attribute ref="ddoc:StandardVersion"
                  use="required">
      <xs:annotation>
        <xs:documentation>Should automatically pick up the Standard's current version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ComplaintsReportBodyType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComplaintEntities"
                  type="ddoc:EntityCollectionType"
                  minOccurs="1"
                  maxOccurs="1">
        <xs:annotation >
          <xs:documentation>List of all entities who are impacted by the Complaint report</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EntityRelationships"
                  type="ddoc:EntityRelationshipCollectionType"
                  minOccurs="1"
                  maxOccurs="1">
        <xs:annotation >
          <xs:documentation>List of key relationships between entities in order to build the entity hierarchy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportingEntityIdentifier"
                  type="ddoc:EntityIdentifierType">
        <xs:annotation>
          <xs:documentation>Identifier from the listed Complaint Entities that is filing this report</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Complaints"
                  type="mstns:ComplaintDetailCollectionType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ComplaintsReportFooterType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
    </xs:sequence>
    <xs:attribute name="NilReportCount"
                  type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>Number of nil complaint records included in this file. Sum of this field and the NonNilReportCount attribute must equal number of complaint records in this file.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NonNilReportCount"
                  type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>Number of non-nil complaint records included in this file.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ComplaintDetailCollectionType">
    <xs:sequence>
      <xs:element name="Complaint"
                  type="mstns:ComplaintDetailType"
                  minOccurs="0"
                  maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComplaintDetailType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComplaintId"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Reporting entity internal code for complaint</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuerIdentifer"
                  type="ddoc:EntityIdentifierType">
        <xs:annotation>
          <xs:documentation>A primary identifier from one of the ComplaintEntities</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuerProductIdentifier"
                  type="ddoc:ProductIdentifierType">
      </xs:element>
      <xs:element name="IssuerProductAlternativeIdentifiers"
                  type="ddoc:ProductIdentifierCollectionType"></xs:element>
      <xs:element name="ProductName"
                  type="xs:string"></xs:element>
      <xs:element name="DistributorIdentifier"
                  type="ddoc:EntityIdentifierType">
        <xs:annotation >
          <xs:documentation>A Primary identifer from an entity in the ComplaintEntities</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DistributorProductIdentifier"
                  type="ddoc:ProductIdentifierType"></xs:element>
      <xs:element name="DistributorProductAlternativeIdentifiers"
                  type="ddoc:ProductIdentifierCollectionType"></xs:element>
      <xs:element name="ComplaintType"
                  type="xs:string">
        <xs:annotation></xs:annotation>
      </xs:element>
      <xs:element name="IsSalesDistributionComplaint"
                  type="xs:boolean"></xs:element>
      <xs:element name="IsProductIssuerComplaint"
                  type="xs:boolean"></xs:element>
      <xs:element name="HasFinancialImpact"
                  type="xs:boolean">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComplaintDate"
                  type="xs:date"
                  nillable="false"
                  minOccurs="1"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Date complaint was raised</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComplaintResolutionDate"
                  type="xs:date"
                  nillable="true"
                  minOccurs="1"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Leave blank (ie use xs:Nil) if not resolved or unknown</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComplaintContent"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>This should include all the relevant details so that the issuer can understand the nature of the complaint</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
