Implementations/Xml/Dealings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn://www.fsc.org.au/DDO/Dealings/1.0"
           elementFormDefault="qualified"
           xmlns="urn://www.fsc.org.au/DDO/Dealings/1.0"
           xmlns:mstns="urn://www.fsc.org.au/DDO/Dealings/1.0"
           xmlns:ddoc="urn://www.fsc.org.au/DDO/Common/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo xmlns:dcterms="http://purl.org/dc/terms/">
      <dcterms:title>DDO Data Standards' Dealings' Elements</dcterms:title>
      <dcterms:licence>
        The intellectual property rights in this document, including the copyright in the document, are owned by and retained by the FSC and its licensors.
        The FSC grants you a non-exclusive non-transferable licence for you and the organisation you represent (the User) to use this document internally within the User's business, including making copies, reproductions, and modifications of the document, and otherwise as expressly set out in the conditions below for so long as the User licenses this data standard.

        You and the User acknowledge and agree that the information contained in this document has been collated and prepared by the FSC for the sole purpose of assisting Users to manage their compliance with Part 7.8A of the Corporations Act 2001.
        The information contained in this document is based on current sources and practice as at 2021.
        The information contained in this document may need to be updated and revised as new sources of information emerge or practices change over time.

        Users should use their own judgment when making use of this material and should carefully evaluate its currency, completeness and relevance for their own purposes as well as the extent to which this material can or should be modified to suit the User's products.

        While steps have been taken to ensure the accuracy of the information contained in this document, the FSC does not guarantee, and accepts no legal liability whatsoever or howsoever arising from or connected to, the accuracy, currency, completeness of any material contained in this document (including any liability that may flow directly or indirectly from the modification of the information contained in this document) and makes no warranties as to suitability for you or non-infringement or for compliance with the data requirements under Part 7.8A of the Act.
      </dcterms:licence>
      <dcterms:rightsholder>Financial Services Council Limited ABN 82 080 744 163</dcterms:rightsholder>
      <dcterms:copyright>
        © 2021 Financial Services Council Limited ABN 82 080 744 163
      </dcterms:copyright>
      <dcterms:contributor>Stephen Cox</dcterms:contributor>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="urn://www.fsc.org.au/DDO/Common/1.0"
             schemaLocation="Common.xsd"/>

  <xs:element name="DealingsReport"
              type="mstns:DealingsReportType">
    <xs:annotation>
      <xs:documentation>This element defines the root element of the report</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Complex Types -->
  <xs:complexType name="DealingsReportType">
    <xs:annotation>
      <xs:documentation>This type defines the structure of the report</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Header"
                  type="mstns:ReportHeaderType"
                  minOccurs="1"
                  maxOccurs="1"></xs:element>
      <xs:element name="Body"
                  type="mstns:ReportBodyType"
                  minOccurs="1"
                  maxOccurs="1"/>
      <xs:element name="Footer"
                  type="mstns:DealingsReportFooterType"
                  minOccurs="1"
                  maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReportHeaderType">
    <xs:annotation>
      <xs:documentation>This type provides the header data for a Dealings report</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReportIdentifier"
                  type="xs:string"
                  nillable="false">
        <xs:annotation>
          <xs:documentation>Report ID – unique to distributor. Can be combined with distributor ID to have industry-wide unique ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportExtractionDateTime"
                  type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            Date that transaction report was made.
            If report is reissued, the new information replaces any reports within the defined report start and end period.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportSelectionRange"
                  type="ddoc:ReportSelectionRangeType"
                  nillable="false"
                  maxOccurs="1"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            included if the DealingsSelectionType is by date
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <!-- Attributes -->
    <xs:attribute ref="ddoc:StandardVersion"
                  use="required">
      <xs:annotation>
        <xs:documentation>Should automatically pick up the Standard's current version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ReportType"
                  type="DealingsSelectionType">
      <xs:annotation>
        <xs:documentation>Mechanism by which the delaings were selected</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ReportBodyType">
    <xs:annotation>
      <xs:documentation>
        This type defines the body of the report
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DealingEntities"
                  type="ddoc:EntityCollectionType"
                  minOccurs="1"
                  maxOccurs="1"></xs:element>
      <xs:element name="EntityRelationships"
                  type="ddoc:EntityRelationshipCollectionType"
                  minOccurs="1"
                  maxOccurs="1"></xs:element>
      <xs:element name="Dealings"
                  type="mstns:DealingCollectionType"
                  minOccurs="0"
                  maxOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="DealingEntityCollectionType">
    <xs:sequence>
      <xs:element name="DealingEntity"
                  type="ddoc:EntityDetailType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DealingCollectionType">
    <xs:sequence>
      <xs:element name="TransactionDetail"
                  type="mstns:DealingDetailType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  nillable="false"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DealingDetailType">
    <xs:sequence>
      <xs:element name="DistributorType"
                  type="ddoc:DistributorTypeEnum"></xs:element>
      <xs:element name="DistributorIdentifier"
                  type="ddoc:EntityIdentifierType"/>
      <xs:element name="IsDealingInsideTMD"
                  type="xs:boolean"/>
      <xs:element name="IsPersonalAdvice"
                  type="xs:boolean"/>
      <xs:element name="OutsideTMDReason"
                  type="xs:string"/>
      <xs:element name="DateOfDealing"
                  type="xs:date"/>
      <xs:element name="SizeOfDealing"
                  type="xs:decimal"/>
      <xs:element name="UnitsOfDealing"
                  type="xs:decimal"/>
      <xs:element name="ProductIdentifier"
                  type="ddoc:ProductIdentifierType"/>
      <xs:element name="TMDVersion"
                  type="xs:integer" />
      <xs:element name="DataStandardType"
                  type="ddoc:TMDProductTypeEnum" />
      <xs:element name="DataStandardVersionUsed"
                  type="ddoc:DataStandardVersionEnum"/>
      <xs:element name="Assessments"
                  type="mstns:TMDCharacteristicAssessmentCollectionType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TMDCharacteristicAssessmentCollectionType">
    <xs:annotation>
      <xs:documentation>a collection or list of Assessments</xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name="Assessment"
                  type="TMDCharacteristicAssessmentType"
                  minOccurs="1"
                  maxOccurs="unbounded">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TMDCharacteristicAssessmentType">
    <xs:sequence >
      <xs:element name="TMDCharacteristic"
                  type="ddoc:TMDCharacteristicEnum"></xs:element>
      <xs:element name="AssessedValue"
                  type="mstns:TMDIndicatorReasonEnum"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DealingsReportFooterType">
    <xs:annotation>
      <xs:documentation>Provides a simple Checksum-like capability to ensure the report is complete</xs:documentation>
    </xs:annotation>
    <xs:attribute name="CountOfDealings"
                  type="xs:integer"/>
    <xs:attribute name="TotalDealingsValue"
                  type="xs:decimal"/>
  </xs:complexType>

  <!-- Simple Types-->

  <!-- Enums -->
  <xs:simpleType name="DealingsSelectionType">
    <xs:annotation>
      <xs:documentation>
        Is report all transactions by date range or transactions by unique identifier?
        If transactions by date range, then expectation is there will only be one report for the particular date range.
        If transactions by unique ID, then there may be any number of reports for a date range
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value = "ByDate">
        <xs:annotation>
          <xs:documentation>All dealings known between these dates</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value = "ById">
        <xs:annotation>
          <xs:documentation>All dealings with specified identifiers</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="TMDIndicatorReasonEnum" >
    <xs:annotation>
      <xs:documentation>the list of TMD Characteristics </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="InTargetMarket"></xs:enumeration>
      <xs:enumeration value="PotentiallyInTargetMarket"></xs:enumeration>
      <xs:enumeration value="NotConsideredInTargetMarket"></xs:enumeration>
      <xs:enumeration value="NoAssessment"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>



  <xs:simpleType name="DistributorUniqueIdentifierTypeEnum" >
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAR"></xs:enumeration>
      <xs:enumeration value="AFSL"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
