Implementations/Xml/TargetMarketDeterminations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn://www.fsc.org.au/DDO/TMD/1.0"
           elementFormDefault="qualified"
           xmlns="urn://www.fsc.org.au/DDO/TMD/1.0"
           xmlns:mstns="urn://www.fsc.org.au/DDO/TMD/1.0"
           xmlns:ddoc="urn://www.fsc.org.au/DDO/Common/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <!-- include the Common elements -->
  <xs:import namespace="urn://www.fsc.org.au/DDO/Common/1.0"
             schemaLocation="Common.xsd"/>

  <xs:element name="TMDReport"
              type="TMDReportType">
    <xs:annotation>
      <xs:documentation>This element defines the root element of the report</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Complex Types-->
  <xs:complexType name="TMDReportType">
    <xs:annotation>
      <xs:documentation>This type defines the report body structure</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Header"
                  type="mstns:TMDReportHeaderType"></xs:element>
      <xs:element name="Body"
                  type="mstns:TMDReportBodyType"></xs:element>
      <xs:element name="Footer"
                  type="mstns:TMDReportFooterType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TMDReportHeaderType">
    <xs:annotation>
      <xs:documentation>This type provides the header data for a set of TMDs</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReportExtractionDateTime"
                  type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            Date that TMD report was generatet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="IssuerPrimaryIdentifier"
                  type="ddoc:EntityIdentifierType"></xs:element>
      <xs:element name="IssuerAlternativeIdentifiers"
                  type="ddoc:EntityIdentifierCollectionType"></xs:element>
    </xs:sequence>

    <!-- Attributes -->
    <xs:attribute ref="ddoc:StandardVersion"
                  use="required">
      <xs:annotation>
        <xs:documentation>Should automatically pick up the Standard's current version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TMDReportBodyType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TMDs"
                  type="mstns:TargetMarketDeterminationCollectionType"
                  minOccurs="1"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The  collection of TMDs in this report</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TMDReportFooterType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TargetMarketDeterminationCollectionType">
    <xs:annotation>
      <xs:documentation>A Collection of Target Market Determinsations</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TMD"
                  type="mstns:TargetMarketDeterminationType"
                  minOccurs="0"
                  maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TargetMarketDeterminationType">
    <xs:annotation>
      <xs:documentation>The definition of an individual Target Market Determination (TMD)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductPrimaryIdentifier"
                  type="ddoc:ProductIdentifierType"></xs:element>
      <xs:element name="ProductAlternativeIdentifers"
                  type="ddoc:ProductIdentifierCollectionType"></xs:element>
      <xs:element name="ProductName"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Financial instrument (Product) name. Note name is subject to change over time, so recommended don’t rely on this over time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuerIdentifier"
                  type="ddoc:EntityIdentifierType">
        <xs:annotation>
          <xs:documentation>
            A unique identifier of the Issuer
            CHECK: this is not present in the Data standard
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuerAlternativeIdentifiers"
                  type="ddoc:EntityIdentifierCollectionType"></xs:element>
      <xs:element name="ProductIssuerName"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A collection of of alternitive identifiers for the Issuer.
            CHECK: this is not present in the Data standard
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateApproved"
                  type="xs:date">
        <xs:annotation>
          <xs:documentation>Date that this TMD version was approved</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TMDVersion"
                  type="ddoc:TMDVersionType">
        <xs:annotation>
          <xs:documentation>The version number of the TMD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TMDStatus"
                  type="ddoc:TMDStatusEnum">
        <xs:annotation>
          <xs:documentation>The status of the TMD which indicates whether it should be distributed. A status of unavailable or closed will be a signal to distributor to stop retail distribution (unless the distribution is excluded dealing).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MandatoryReviewDate"
                  type="xs:date">
        <xs:annotation>
          <xs:documentation>Next mandatory review date for this TMD version. A review can occur before this date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactDetails"
                  type="ddoc:ContactDetailsType"
                  nillable="false"
                  minOccurs="1"
                  maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Mandatory contact details for more information on this TMD
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TMDCharacteristics"
                  type="mstns:TMDCharacteristicsType">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DistributionConditions"
                  type="mstns:DistributionConditionsType"></xs:element>
      <xs:element name="ReviewTriggers"
                  type="mstns:ReviewTriggersCollectionType">
        <xs:annotation>
          <xs:documentation>List one trigger per subrecord. As distributors don’t need to action review triggers, there is no need for standardisation/ validation of the text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DistributorReporting"
                  type="mstns:DistributorReportingRequirementsType"></xs:element>
    </xs:sequence>

  </xs:complexType>

  <xs:complexType name="DistributorReportingRequirementsType">
    <xs:sequence >
      <xs:element name="AcquisitionOutsideTM"
                  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Is there requirement for distributors to report on ALL dealings outside target market?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SFCDDOStandardRequired"
                  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If AcquisitionOutsideTM is true, should report follow FSC DDO data standard for transactions? Only complete if AcquisitionOutsideTM is true </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SFCDDOStandardVersionRequired"
                  type="ddoc:DataStandardVersionEnum"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If AcquisitionOutsideTM is true, should report follow FSC DDO data standard for transactions? Only complete if AcquisitionOutsideTM is true </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AlternativeDataStandard"
                  type="xs:string">

      </xs:element>

      <xs:element name="OutsideTMDFrequencyOfReport"
                  type="mstns:FrequencyOfReportEnum">
        <xs:annotation>
          <xs:documentation>Required frequency of report by distributors on dealings outside target market. </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="OutsideTMDReportDeadlineDays"
                  type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation>Required deadline for dealings report after end of relevant period (see previous field) – in number of days. Default is 10 days</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:sequence>
        <xs:annotation>
          <xs:documentation>logically group the Complaints erporting info</xs:documentation>
        </xs:annotation>
        <xs:element name="ComplaintsReporting"
                    type="xs:string">
          <xs:annotation>
            <xs:documentation>Required content of complaints report by distributors</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ComplaintsFrequencyOfReport"
                    type="mstns:FrequencyOfReportEnum">
          <xs:annotation>
            <xs:documentation>Required frequency of report on complaints. Default is at time of complaint.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ComplaintsReportDeadlineDays"
                    type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>Required deadline for complaints report after end of relevant period (see previous field) – in number of days. Default is 10 days</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>

      <xs:element name="RequireSignificantDealingsReport"
                  type="xs:boolean"
                  fixed="true">
        <xs:annotation>
          <xs:documentation>
            a constant value as a reminder the Significant Dealings is required
            CHECK: should this include the other common fields ie stanards version etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Appropriateness"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Explanation how issuer considers TMD performs against appropriateness test as required by ASIC RG</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>

  </xs:complexType>


  <xs:complexType name="DistributionConditionsType">
    <xs:sequence>
      <xs:element name="AvailableDirect"
                  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Is product available direct (non intermediated) retail?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DirectConditions"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Additional conditions on direct (non intermediated) retail. Only complete if AvailableDirect is true.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvailableOnPlatform"
                  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Is product available on platforms? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlatformConditions"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Additional conditions on distribution to platforms. Only complete if AvailableOnPlatform is true.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvailableAdvised"
                  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Is product available on platforms? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdvisedConditions"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Additional conditions on distribution to clients subject to personal advice. Only complete if AvailableAdvised is true.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReviewTriggersCollectionType">
    <xs:sequence>
      <xs:element name="ReviewTrigger"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TMDCharacteristicsType">
    <xs:annotation>
      <xs:documentation>Strongly typed object for storing TMD Characteristics</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InvestmentObjectiveDescription"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the investment objective of the product, including growth/ defensive split</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="InvestmentObjective_CapitalGrowth">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentObjective_CapitalGrowth">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentObjective_CapitalPreservation">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentObjective_CapitalPreservation">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentObjective_CapitalGuaranteed">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentObjective_CapitalGuaranteed">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentObjective_RegularIncome">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentObjective_RegularIncome">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentObjective_Specialist">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentObjective_Specialist">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProductUse_SolutionStandalone">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="ProductUse_SolutionStandalone">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProductUse_CoreComponent">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="ProductUse_CoreComponent">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProductUse_Satellite">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="ProductUse_Satellite">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentTimeframe_Short">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentTimeframe_Short">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentTimeframe_Medium">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentTimeframe_Medium">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvestmentTimeframe_Long">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="InvestmentTimeframe_Long">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RiskAndReturn_VeryHigh">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RiskAndReturn_VeryHigh">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RiskAndReturn_High">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RiskAndReturn_High">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RiskAndReturn_Medium">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RiskAndReturn_Medium">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RiskAndReturn_Low">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RiskAndReturn_Low">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RiskAndReturn_CapitalGuaranteed">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RiskAndReturn_CapitalGuaranteed">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RedemptionFrequency_Daily">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RedemptionFrequency_Daily">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RedemptionFrequency_Weekly">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RedemptionFrequency_Weekly">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RedemptionFrequency_Monthly">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RedemptionFrequency_Monthly">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RedemptionFrequency_Quarterly">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RedemptionFrequency_Quarterly">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="RedemptionFrequency_AnnuallyPlus">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="RedemptionFrequency_AnnuallyPlus">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Liquidity_Low">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="Liquidity_Low">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Liquidity_Moderate">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="Liquidity_Moderate">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Liquidity_High">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="Liquidity_High">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Liquidity_VeryHigh">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="mstns:TMDCharacteristicType">
              <xs:sequence>
                <xs:element name="Characteristic"
                            type="ddoc:TMDCharacteristicEnum"
                            fixed="Liquidity_VeryHigh">
                </xs:element>
                <xs:element name="Value"
                            type="ddoc:TMDIndicatorEnum"></xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProductUseDescription"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the investment objective of the product, including asset allocation and diversification information</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="InvestmentTimeframeDescription"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the minimum suggested timeframe for holding the product</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="RiskAndReturnDescription"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the product risk and return metrics, include risk band and the return hurdle rate</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="RedemptionFrequencyDescription"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the intended frequency and mechanism for which investors redeem interests in the product</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="LiquidityDescription"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the liquidity of the assets held by the fund</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TMDCharacteristicType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Characteristic"
                  type="ddoc:TMDCharacteristicEnum">
        <xs:annotation>
          <xs:documentation>The Characteristic to be assessed for Target Market</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value"
                  type="ddoc:TMDIndicatorEnum">
        <xs:annotation>
          <xs:documentation>The assessed value of the product against the Characteristic</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <!-- Enums -->
  <xs:simpleType name="FrequencyOfReportEnum" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="OnEvent">
        <xs:annotation>
          <xs:documentation>indicates the repot should happen when the event occurs - ie at point of sale or when complaint raised</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EndOfMonth">
        <xs:annotation>
          <xs:documentation>end of calendar month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EndOfQuarter">
        <xs:annotation>
          <xs:documentation>end of calendar quarter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
